sudo: required
services:
    - docker

before_install:
    - docker build -t deeksha021chaudhary/docker-react -f Dockerfile.dev .
script:
    - docker run deeksha021chaudhary/docker-react npm run test -- --coverage